[toolchain]
anchor_version = "0.32.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
energy_token = "5FVExLSAC94gSWH6TJa1TmBDWXuqFe5obZaC5DkqJihU"
governance = "HZdnWsQc5vsMXScEn8u3GezFtqPmcKM6Ex3XEUXCgSBT"
oracle = "TjYDEtQoFP9LRuVhmcGPZ52zBnQmtM5ixvE1T1SoCya"
registry = "DiJi39HDJQwEYGxSwL6qtLUtWzbAP5irv1S4Tube9ouH"
trading = "CdxzGUNHPcgkhnaH6V4jAcvMGRsUhPKFK6R71UCQhJ8H"
tpc_benchmark = "HEqH8sdd7KRxhwQYVpJrbb7kzW3P22PYkber756zs5vS"
blockbench = "BfJ7ahTPRahUBTFXQdw1tS59DWcW5gADRJxzdhr7kQhJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "../keypairs/dev-wallet.json"

[scripts]
bootstrap = "npx ts-node scripts/bootstrap.ts"
init-market = "npx ts-node scripts/init_market.ts"
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/integration/p2p-trading-scenario.test.ts"
benchmark-tpcc = "npx tsx tests/performance/benchmarks/tpc-c-benchmark.ts"
setup-poa = "bash scripts/setup-poa-cluster.sh"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "9sAB52aZ71ciGhaVwuCg6ohTeWu8H6fDb2B29ohxsFVp"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "4D9Mydr4f3BEiDoKxE2V8yMZBj53X6nxMjMWaNPAQKrN"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "HtV8jTeaCVXKZVCQQVWjXcAvmiF6id9QSLVGP5MT5osX"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "FQYhgNRRWDCvy9WPeZPo5oZw63iHpJZToi1uUp25jE4a"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "9t3s8sCgVUG9kAgVPsozj8mDpJp9cy6SF5HwRK5nvAHb"
program = "target/deploy/trading.so"
