[toolchain]
anchor_version = "0.32.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
blockbench = "9qVk6eD69nzSTjjcHpxDjjXePMdGUVeazeQZYuSmhs1d"
energy_token = "G8dC1NwdDiMhfrnPwkf9dMaR2AgrnFXcjWcepyGSHTfA"
governance = "3d1BQT3EiwbspkD8HYKAnyLvKjs5kZwSbRBWwS5NHof9"
oracle = "4Agkm8isGD6xDegsfoFzWN5Xp5WLVoqJyPDQLRsjh85u"
registry = "EgpmmYPFDAX8QfawUEFissBXi3yG6AapoxNfB6KdGtBQ"
tpc_benchmark = "CKLCEJhsxMu1NNEu9oVuyDqpkXcR9dMr769XSuh2WAjC"
trading = "CrfC5coUm2ty6DphLBFhAmr8m1AMutf8KTW2JYS38Z5J"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "keypairs/dev-wallet.json"

[scripts]
benchmark-tpcc = "npx tsx tests/performance/benchmarks/tpc-c-benchmark.ts"
bootstrap = "npx ts-node scripts/bootstrap.ts"
init-market = "npx ts-node scripts/init_market.ts"
setup-poa = "bash scripts/setup-poa-cluster.sh"
test = "npx tsx tests/transactions/run-transaction-tests.ts --full"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "4vCgSNVMCEhgaFebnoGizvaCJu2SXCiXh8bu1YpMocMk"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "opUKK54PxUHNgzkPAaJioCSWxx8P7p3tYeotyixE84W"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "HTTcpqf79kGh83xfe7me4LvJcqqQfxBoB5MuUk8N4Qee"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "6fDca5JEh2DDzmZDJB9QbLWpfPAnyoGfe3hfortitpnu"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "B3FHDFGqMazfbMNXc4RWJ4hpZM98ZGRdicYAC3pYF2az"
program = "target/deploy/trading.so"
