[toolchain]
anchor_version = "0.32.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
blockbench = "9HqyYuqADh6K88gnvFav1J2mKQMgDyQjiJEa5u54Ad9v"
energy_token = "4vCgSNVMCEhgaFebnoGizvaCJu2SXCiXh8bu1YpMocMk"
governance = "opUKK54PxUHNgzkPAaJioCSWxx8P7p3tYeotyixE84W"
oracle = "HTTcpqf79kGh83xfe7me4LvJcqqQfxBoB5MuUk8N4Qee"
registry = "6fDca5JEh2DDzmZDJB9QbLWpfPAnyoGfe3hfortitpnu"
tpc_benchmark = "2cYLfKJyutgK47fKVBYagSp6Zy1eKfh3PUmmdu2ZNJvh"
trading = "B3FHDFGqMazfbMNXc4RWJ4hpZM98ZGRdicYAC3pYF2az"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "../keypairs/dev-wallet.json"

[scripts]
benchmark-tpcc = "npx tsx tests/performance/benchmarks/tpc-c-benchmark.ts"
bootstrap = "npx ts-node scripts/bootstrap.ts"
init-market = "npx ts-node scripts/init_market.ts"
setup-poa = "bash scripts/setup-poa-cluster.sh"
test = "npx tsx tests/transactions/run-transaction-tests.ts --full"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "4vCgSNVMCEhgaFebnoGizvaCJu2SXCiXh8bu1YpMocMk"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "opUKK54PxUHNgzkPAaJioCSWxx8P7p3tYeotyixE84W"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "HTTcpqf79kGh83xfe7me4LvJcqqQfxBoB5MuUk8N4Qee"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "6fDca5JEh2DDzmZDJB9QbLWpfPAnyoGfe3hfortitpnu"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "B3FHDFGqMazfbMNXc4RWJ4hpZM98ZGRdicYAC3pYF2az"
program = "target/deploy/trading.so"
