[toolchain]
anchor_version = "0.32.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
energy_token = "Ct8j89GLmk4XEqGsUbB6kigeZjDnhf5xfmAT1MZhvxSj"
governance = "55ix8BxEAErEyK7jHjerCr6z8aTei4vaXqwVfoGiz6C3"
oracle = "4vXCNesjspqZUsKWU1Zaa3pucDAdZNeFnbbwem7DefbT"
registry = "ExXGeZ2bZpWQrtHpc1CRoBNHsozEJSSj7UioVZSf4U8F"
trading = "Fo9hGqQu2beFAVGS5BVKhHwU5fingYwAMoALhKdgToXq"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "../keypairs/dev-wallet.json"

[scripts]
init-market = "npx ts-node scripts/init_market.ts"
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/integration/p2p-trading-scenario.test.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "9sAB52aZ71ciGhaVwuCg6ohTeWu8H6fDb2B29ohxsFVp"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "4D9Mydr4f3BEiDoKxE2V8yMZBj53X6nxMjMWaNPAQKrN"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "HtV8jTeaCVXKZVCQQVWjXcAvmiF6id9QSLVGP5MT5osX"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "FQYhgNRRWDCvy9WPeZPo5oZw63iHpJZToi1uUp25jE4a"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "9t3s8sCgVUG9kAgVPsozj8mDpJp9cy6SF5HwRK5nvAHb"
program = "target/deploy/trading.so"
