[toolchain]
anchor_version = "0.32.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
blockbench = "CxRS3x417BDSDXtxg1M3nbwttca5VeDYih4DP2QPFgsY"
energy_token = "MwAdshY2978VqcpJzWSKmPfDtKfweD7YLMCQSBcR4wP"
governance = "2u2yvp6cBqegv7ApcLfvaFXd9WBrrCy6o3bhxtWgxpC5"
oracle = "FpKNR5SybwgLH5MUj6mp3V9kbHmaqcRb4sCKJsUfa5x"
registry = "8tWRwmu8Lfb3JtwgD5wV1F8FiemxmWQmETStSKy5Fxfi"
tpc_benchmark = "7C37ZPyfpSVnDNZumxvx7Wsggzqu3yeU5rwJNY39hDai"
trading = "FjNbXVFeRy2n4kJwFcrQDvXZs67AbKRg4uEQ1NpFk5Wu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "../keypairs/dev-wallet.json"

[scripts]
benchmark-tpcc = "npx tsx tests/performance/benchmarks/tpc-c-benchmark.ts"
bootstrap = "npx ts-node scripts/bootstrap.ts"
init-market = "npx ts-node scripts/init_market.ts"
setup-poa = "bash scripts/setup-poa-cluster.sh"
test = "npx tsx tests/transactions/run-transaction-tests.ts --full"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "MwAdshY2978VqcpJzWSKmPfDtKfweD7YLMCQSBcR4wP"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "2u2yvp6cBqegv7ApcLfvaFXd9WBrrCy6o3bhxtWgxpC5"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "FpKNR5SybwgLH5MUj6mp3V9kbHmaqcRb4sCKJsUfa5x"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "8tWRwmu8Lfb3JtwgD5wV1F8FiemxmWQmETStSKy5Fxfi"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "FjNbXVFeRy2n4kJwFcrQDvXZs67AbKRg4uEQ1NpFk5Wu"
program = "target/deploy/trading.so"
