[toolchain]
anchor_version = "0.30.1"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
energy_token = "54SAVMgGhjssp3iQ7zBK8kgUnEtqHJTNg3QRfzzDitHB"
governance = "GZP5QP6PMD2D8nNsLkhA39Lfr4er12JLMhQZJnhxyT5h"
oracle = "F7mEgt7zaAaKHfTNmCLeZCUutdKyZ2cxYg41ggjstBi6"
registry = "9XS8uUEVErcA8LABrJQAdohWMXTToBwhFN7Rvur6dC5"
trading = "2pZ8gqotjvKMAu96XzpGZ7QFcemZzj21ybtVTbaDP1zG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Developments/weekend/gridtokenx-anchor/keypairs/dev-wallet.json"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "54SAVMgGhjssp3iQ7zBK8kgUnEtqHJTNg3QRfzzDitHB"
program = "target/deploy/energy_token.so"

[[test.genesis]]
address = "GZP5QP6PMD2D8nNsLkhA39Lfr4er12JLMhQZJnhxyT5h"
program = "target/deploy/governance.so"

[[test.genesis]]
address = "F7mEgt7zaAaKHfTNmCLeZCUutdKyZ2cxYg41ggjstBi6"
program = "target/deploy/oracle.so"

[[test.genesis]]
address = "9XS8uUEVErcA8LABrJQAdohWMXTToBwhFN7Rvur6dC5"
program = "target/deploy/registry.so"

[[test.genesis]]
address = "2pZ8gqotjvKMAu96XzpGZ7QFcemZzj21ybtVTbaDP1zG"
program = "target/deploy/trading.so"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
